<div class="row">
  <div class="col-mid-4">
    <p><%= @channel.name %></p>
    <p><%= @channel.callsign %></p>
    <p><%= @channel.price_per_month %></p>
    <% if @subscriber %>
    <form action="/subscriptions/<%= @channel.id %>" method="POST">
      <input type="hidden" name="_method" value="patch">
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    <% else %>
    <form action="/subscriptions/<%= @channel.id %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-primary">Unsubscribe</button>
    </form>
    <% end %>
  </div>
</div>
